/**
 * User: cravelo
 * Date: Feb 16, 2011
 * Time: 10:50:33 AM
 */
.ui-tabs-panel iframe { width: 732px; height: 412px; }

.article-header { margin-bottom: 12px; }

.image-stack { margin-bottom: 12px; }
