#main_slide { margin: 0 0 12px 0; padding: 0; list-style: none; background:#000; color:#fff; overflow: hidden; width: 100%; height: 472px; }
#main_slide .caption { display: block; padding: 0 12px 0 0; margin-top: 138px; color: #FFF; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#main_slide .caption p { margin-top: 12px; color:#FFF;}
#main_slide .caption h2 { margin-bottom: 6px; color:#FFF; font-size:2.23em /*25px*/; font-family:sans-serif; }
#main_slide .caption h2 a { color:#FFF; }
#main_slide .caption p.as-seen-in { font-size: 1em; padding-right: 12px; width: auto; }
#main_slide .caption h3.d { margin-bottom: 0; }
#main_slide .caption div.desc { width: auto; margin: 0; position: relative; top: 86px; padding-right: 35px; clear: none; }
#main_slide .image-stack {
	float: left;
	display: block;
	width: auto;
	margin: 0 60px 0 0;
	padding: 1px 0 1px 1px;
	overflow:hidden;
	min-height: 65px;
	min-width: 125px;
}
#main_slide .image-stack img{ max-width: 353px; height: 470px; margin: 0; }

/*.edit-textinline, .edit-textarea, .edit-page-property, .edit-wysiwygadv, .edit-profile-wysiwyg, .edit-profile-textarea {
    width:410px;
}*/

#main_slide .editable-link { left: 712px; }

h2.d { margin-bottom: 16px; }

.qq-upload-button { width: 86px !important; }
.qq-upload-list{ color:#000; }
