#calendar { clear: both; margin-top: 12px; font-size: 1.1em }
#calendar .ui-state-highlight { border: none; }

#calendar .fc-event { font-size: 1.15em; }

.forms-list { list-style: none; padding-left: 0; clear: both; overflow: hidden; margin-top: 6px; }
.forms-list li { margin-bottom: 2px; }

/**
 * Styles from fullcalendar.css that are needed on this page. If I include the whole stylesheet it messes up the
 * mini calendar styles
 */

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event {
	border-style: solid;
	border-width: 0;
	font-size: .85em;
	cursor: default;
}

a.fc-event,
.fc-event-draggable {
	cursor: pointer;
}

a.fc-event {
	text-decoration: none;
}

.fc-rtl .fc-event {
	text-align: right;
}

.fc-event-skin {
	border-color: #36c;     /* default BORDER color */
	background-color: #36c; /* default BACKGROUND color */
	color: #fff;            /* default TEXT color */
}

.fc-event-inner {
	position: relative;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 0;
	overflow: hidden;
}

.fc-event-time,
.fc-event-title {
	padding: 0 1px;
}

.fc .ui-resizable-handle { /*** TODO: don't use ui-resizable anymore, change class ***/
	display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden; /* hacky spaces (IE6/7) */
	font-size: 300%;  /* */
	line-height: 50%; /* */
}



/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
}

/* resizable */

.fc-event-hori .ui-resizable-e {
	top: 0           !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
}

.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
}

.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
}



/* Fake Rounded Corners (for buttons and events)
------------------------------------------------------------*/

.fc-corner-left {
	margin-left: 1px;
}

.fc-corner-left .fc-button-inner,
.fc-corner-left .fc-event-inner {
	margin-left: -1px;
}

.fc-corner-right {
	margin-right: 1px;
}

.fc-corner-right .fc-button-inner,
.fc-corner-right .fc-event-inner {
	margin-right: -1px;
}

.fc-corner-top {
	margin-top: 1px;
}

.fc-corner-top .fc-event-inner {
	margin-top: -1px;
}

.fc-corner-bottom {
	margin-bottom: 1px;
}

.fc-corner-bottom .fc-event-inner {
	margin-bottom: -1px;
}



/* Fake Rounded Corners SPECIFICALLY FOR EVENTS
-----------------------------------------------------------------*/

.fc-corner-left .fc-event-inner {
	border-left-width: 1px;
}

.fc-corner-right .fc-event-inner {
	border-right-width: 1px;
}

.fc-corner-top .fc-event-inner {
	border-top-width: 1px;
}

.fc-corner-bottom .fc-event-inner {
	border-bottom-width: 1px;
}

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px; /* distance between events and day edges */
}
