/**
 * Created by: cravelo
 * Date: 2/10/12
 * Time: 2:38 PM
 */

.ui-tabs-panel iframe { width: 732px; height: 412px; }

.article-header { margin-bottom: 12px; }

.image-stack { margin-bottom: 12px; }
