.login-form {
	width: 205px;
	margin: 48px auto 24px;
	overflow: hidden;
}

.login-form .logo img { display: block; }

.login-form label { display: block; }

.login-form input { width: 191px; height: 17px; padding: 8px 5px 2px; background-color: #f6f4f1; border: 1px solid #BBB; }

.ui-state-error { padding: 6px; }
.ui-state-error p { margin: 0; line-height: 1.5; }
