.field-group-a .field input { width: 573px; }

.field-group-a .field-2 .col { width: 50%; float: left; }
.field-group-a .field-2 .col input { width: 203px; }

.field-group-a .field-3 .col { width: 33%; float: left; }
.field-group-a .field-3 .col input { width: 84px; }

